<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" >
    <div class="navbar-nav" style="background-color: green;">
        <a class="nav-item nav-link" routerLink="/" style="color: white;">Home</a>
        <a class="nav-item nav-link" routerLink="/checkup" style="color: white;" *ngIf="isPatient || isDoctor">diagnosASSIST</a>
        <a class="nav-item nav-link" routerLink='/signup' style="color: white;">Sign Up</a>
        <a class="nav-item nav-link" (click)="logout()" *ngIf="isPatient || isDoctor" style="color: white;">Logout</a>
    </div>
  </nav>
  
  <!-- main app container -->
  <div class="container">
    <router-outlet></router-outlet>
  </div>