<h2 style="color: green;">Checkup</h2>

<form #editfrm = "ngForm" (ngSubmit)="editSong(editfrm)" >
        <h2 style="color: green;">Enter Patient Information</h2>
        <div class="form-group" style="color: green;">
            <label for="">
                Radius: 
            </label>
            <input type="text" name="radius" value="" > <br/>
            <label for="">
                Texture: 
            </label>
            <input type="text" name="texture" value="" > <br/>
            <label for="">
                Area:    
            </label>
            <input type="text" name="area" value=""> <br/>
            <label for="">
                Density: 
            </label>
            <input type="text" name="density" value=""> <br/>
            <label for="">
                Compactness: 
            </label>
            <input type="text" name="compactness" value=""> <br/>
        </div>
        <button type="submit" name="button" style="background-color: green; color: white">Save</button>
    </form> <br/><br/>